html, body{
	font-size: 11px;
	height: 100%;
}

textarea{
	font-family: sans-serif;
	line-height: 22px;
	min-height: 800px;
	min-width: 1060px;
	resize: none;
	overflow: hidden;
	position: absolute;
	left: 60px;
}

textarea:focus{
	outline: 0;
}

textarea, .numCol{
	display: inline-block;
}

.numCol{
	box-sizing: border-box;
	font-family: monospace;
	height: 100%;
	line-height: 22px;
	max-height: 800px;
	overflow: hidden;
	padding: 0.16em 0em;
	text-align: right;
	width: 50px;
	vertical-align: top;
}

#copy{
	display: inline-block;
	font-family: sans-serif;
	line-height: 22px;
	visibility: hidden;
}