#editor {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 700px;
    border: 2px solid #667490;
    border-top: 0px;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
    overflow:auto;

}



#console {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 100px;
    border: 2px solid #667490;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
    overflow:auto;

}


#debugger {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 80px;
    border: 2px solid #667490;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
	
}

#dText {
	width: 1490px;
    height: 70px;
}
	
#devices {
    background-color: #ccd1db;
    width: 1500px;
    height: 700px;
    align-self: center;
}


#menu {
    width: 100px;
    height: 100%;
    position: fixed;
    left:0;
    border: 2px solid #667490;
    border-top: 0px;
    text-align: center;
    background-color: #d9e6f7;
    color: #000000;
    font-family: "Arial";
    font-weight: bold;
}


body{
    background-color: #616e89;
}

button{
    background-color: #d9dbdf; 
    margin-left: 4px;
    margin-right: 4px;
}

#cBtn {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: black;
}

#lBtn {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: black;
}

@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
 .container {
    margin-top: 10px;
    margin-left: 100px;
}
.nav-tabs > li {
    position:relative;
    
}
.nav-tabs > li > a {
    display:inline-block;
    
}
.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
    
}
.nav-tabs > li:hover > span {
    display: inline-block;
    
}

.nav li {
    background-color:rgb(168, 167, 167);
    border-block-color: black;
   }