#editor {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 700px;
    border: 2px solid #667490;
    border-top: 0px;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
    overflow:auto;

}

@media only screen and (max-width: 1000px) and (orientation : landscape) {
    #editor {
        height: 350px;
    }
}


@media only screen and (max-width: 1000px) and (orientation : portrait) {
    #editor {
        height: 1475px;
    }
}

#console {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 100px;
    border: 2px solid #667490;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
    overflow:auto;
}


#debugger {
    background-color: #ccd1db;
    color: #000000;
    width: 1500px;
    height: 80px;
    border: 2px solid #667490;
    padding: 5px;
    margin-left: 100px;
    font-family: "Arial";
    white-space: pre-line;
    overflow: auto;
}

#dText {
	width: 1490px;
    height: 70px;
}
	
#devices {
    background-color: #ccd1db;
    width: 1500px;
    height: 700px;
    align-self: center;
}


#menu {
    width: 100px;
    height: 100%;
    position: fixed;
    left:0;
    border: 2px solid #667490;
    border-top: 0px;
    text-align: center;
    background-color: #d9e6f7;
    color: #000000;
    font-family: "Arial";
    font-weight: bold;
}


@media only screen and (max-width: 1000px) {
    #dText {
        width: 705px;
    }

    #debugger, #console {
        width: 720px;
        margin-left: 113px;
    }
}

@media only screen and (min-width: 1200px) {
    #dText {
        width: 1130px;
    }

    #debugger, #console {
        width: 1145px;
        margin-left: 113px;
    }
}

@media only screen and (min-width: 1920px) {
    #dText {
        width: 1462px;
    }

    #debugger, #console {
        width: 1477px;
        margin-left: 113px;
    }
}

@media only screen and (min-width: 2560px) {
    #dText {
        width: 1990px;
    }

    #debugger, #console {
        width: 2003px;
    }
}

body{
    background-color: #616e89;
}

button{
    background-color: #d9dbdf;
    margin-left: 4px;
    margin-right: 4px;
}

#cBtn {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: black;
}

#lBtn {
    border-radius: 6px;
    background-color: #e7e7e7;
    color: black;
}


@import url('http://getbootstrap.com/2.3.2/assets/css/bootstrap.css');
 .container {
    margin-top: 10px;
    margin-left: 100px;
}
.nav-tabs > li {
    position:relative;
}
.nav-tabs > li > a {
    display:inline-block;
    
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
    
}
.nav-tabs > li:hover > span {
    display: inline-block;
    
}


.close-tabs  li {
    position: absolute;
    top: 11px;
    height: 40px;
    width: 150px;
    right: 174px;
    text-align: center;
    background-color:white; 
    border-block-color: black;
}


@media only screen and (min-width: 1920px) {
    .close-tabs  li {
        right: 100px;
    }
}


@media only screen and (min-width: 2560px) {
    .close-tabs  li {
        right: 170px;
    }
}

@media only screen and (max-width: 1000px) {
    .close-tabs  li {
        right: 25px;
    }
}


.nav li {
    background-color:rgb(168, 167, 167);
    border-block-color: black;
   }


#nfBtn{
    background-color: Transparent;
    border: none;
}

#npBtn{
    background-color: Transparent;
    border: none;
}

#sBtn{
    background-color: Transparent;
    border: none;
}

#loadFileBtn{
    background-color: Transparent;
    border: none;
}

#bBtn{
    background-color: Transparent;
    border: none;
}

#settingsBtn{
    background-color: Transparent;
    border: none;
}

#serialBtn{
    background-color: Transparent;
    border: none;
}

#debugBtn{
    background-color: Transparent;
    border: none;
}
#loginBtn{
    background-color: Transparent;
    border: none;
}

#signBtn{
    background-color: Transparent;
    border: none;
}

#uploadBtn{
    background-color: Transparent;
    border: none;
}


.modal {
    overflow-y: auto;
}

.modal-open {
    overflow-y: auto;
}

.cls-context-menu { position:absolute; display:none; }

.cls-context-menu ul, #context-menu li {
	list-style:none;
        margin:0; padding:0;
        background:white;
}

.cls-context-menu { border:solid 1px #CCC;z-index:3;}
.cls-context-menu li { border-bottom:solid 1px #CCC; }
.cls-context-menu li:last-child { border:none; }
.cls-context-menu li a {
	display:block;
        padding:5px 10px;
        text-decoration:none;
        color:blue;
}
.cls-context-menu li a:hover {
	background:blue;
        color:#FFF;
}
