{% load static %}
<!doctype html>

<html lang="en" class="no-js">
      <head>
          <meta charset="UTF-8"/>
          <title>Trynkit Devices</title>
          {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

      </head>

<body>

<div id="title">
    <h1>Devices</h1>
</div>


<!–– place populated device links in this div -->
<div id="devices">
	<p>Device 1:</p>
	<p>Device 2:</p>
	<p>Device 3:</p>
</div>

</body>
</html>
