<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <title>Trynkit: Help Page</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
  </head>
    <body>
        <h1>Help Center</h1>
        <p><strong>Getting Started</strong></p>
        <p>This page can provide you with any relevant information regarding the use of your Trynkit device and our editor.</p>
        <p><strong>Device Management</strong></p>
        <p> The device can be connected through bluetooth.</p>
        <p><strong>Managing My Account</strong></p>
        <p>Account seetings and password changes can be completed in the setting section. This can be found under the settings tab on the main menu.</p>
        <p><strong>Questions and Answers</strong></p>
        <div>
            <li>How to I connect to my device?</li>
            <li>How do I change my password?</li>
            <li>How do I save my files?</li>
        </div>
    </body>
</html>