<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <title>Trynkit: Help Page</title>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>
  </head>
    <body>
        <h1>Help Page</h1>
        <p>This page can provide you with any relevant information regarding the use of your Trynkit device and our editor.</p>
    </body>
</html>