<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <title>Trynkit: MicroPython</title>

        {% load static %}
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
	<link rel="shortcut icon" type="image/png" href="/static/images/favicon.png"/>

        <script src="/static/js/loadFile.js" type="text/javascript"></script>
        <script src="/static/js/save.js" type="text/javascript"></script>
        <script src="/static/js/codemirror.js" type="text/javascript"></script>
        <script src="/static/js/python.js" type="text/javascript"></script>
        <script src="/static/js/bluetooth.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/codemirror.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/ambiance.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/darcula.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/material.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/elegant.css"/>
        <link rel="stylesheet" type="text/css" href="/static/css/rubyblue.css"/>
    </head>

    </div>
    <body>
        <div id="menu">

            <button onclick="newFile()" id="nfBtn"><img type="image/svg+xml" id ="newFileBtn" src="/static/images/file-regular.svg" width="50" height="50" title="Create a new file"><figcaption> New File </figcaption></button>
            <button onclick="saveTabPrompt(currentTab, masterList)" id="sBtn" ><img type="image/svg+xml" id ="saveFileBtn" src="/static/images/save-regular.svg" width="50" height="50" title="Save the current file"><figcaption> Save File </figcaption></button>
            <button id="loadFileBtn">

                <img type="image/svg+xml" id="lFileBtn" src="/static/images/cloud-upload-alt-solid.svg" width="50" height="50" title="Load a file"><figcaption> Load File </figcaption>

            </button>
            <input type="file" id="file" style="display: none" />
            <script type="text/javascript">
                window.onload = loadFile();
            </script>

            <button onClick="bluetooth()" id="bBtn"><img type="image/svg+xml" id ="devicesBtn" src="/static/images/bluetooth-b-brands.svg" width="50" height="50" title="Pair editor with bluetooth device"><figcaption> Bluetooth </figcaption></button>

            <button onClick="bleSend()" id="uploadBtn"><img type="image/svg+xml" id ="uploadBtn" src="/static/images/upload.svg" width="50" height="50" title="Upload a file"><figcaption> Upload </figcaption></button>

            <button data-toggle="modal" data-target="#settingsModal" id="settingsBtn"><img type="image/svg+xml" id ="settBtn" src="/static/images/cogs-solid.svg" width="50" height="50" title="Editor settings"><figcaption> Settings </figcaption></button>

            <button onClick="consoleHide()" id="serialBtn"><img type="image/svg+xml"  id="serBtn" src="/static/images/plug-solid.svg" width="50" height="50" title="MicroPython console"><figcaption> Console </figcaption></button>

            <button onClick="debugToggle()" id="debugBtn"><img type ="image/svg+xml" id="debuggerBtn" src="/static/images/bug-solid.svg" width="50" height="50" title="Toggle debugger"><figcaption> Debug </figcaption></button>

            <button data-toggle="modal" data-target="#loginModal" id="loginBtn"><img type="image/svg+xml" id ="logBtn" src="/static/images/login-regular.svg" width="50" height="50" title="User login"><figcaption> Login </figcaption></button>

	    <button onClick="logout()" id="logoutBtn"><img type="image/svg+xml" id="lgoutBtn" src="/static/images/logout.svg" width="50" height="50" title="Logout"><figcaption> Logout </figcaption></button>
	    <button data-toggle="modal" data-target="#signUpModal" id="signBtn"><img type="image/svg+xml" id ="siBtn" src="/static/images/signup.svg" width="50" height="50" title="Create an account and sign up"><figcaption> Sign Up </figcaption></button>
	   <button data-toggle="modal" data-target="#helpModal" id="helpBtn"><img type="image/svg+xml" id ="hlpBtn" src="/static/images/help.svg" width="50" height="50" title="Help/FAQ"><figcaption> Help </figcaption></button>
	        </div>
	<!-- this is the context menu -->
        <!-- note the string to=0 where the 0 is the digit to be replaced -->
        <div id="div-context-menu" class="cls-context-menu">
		<ul>
                    <li><a href="javascript:void(0)" class="rename-tab">Rename Tab </a></li>

		    <li><a href="javascript:void(0)" class="remove-tabs">- Close All Tabs</a></li>
                </ul>
        </div>
        <div class="container">
            <ul class="nav nav-tabs" role="tablist" id="nav-tab list">
		    <li class="active"><a href="#tab_1" id="tab1" data-toggle="tab">main.py</a><span>x</span>
                </li>
                <li><a href="javascript:void(0)" class="add-tab">+ New File</a>
		</li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="tab_1"><textarea id="code"> </textarea></div>
            </div>
        </div>



		<div id="debugger" contenteditable="false" name="empty" style="display:none">Debug Content Here</div>
        <div id="console" contenteditable="true" name="empty" style="display:none">Serial Console</div>



                <!-- Settings Modal -->
              <div class="modal fade" id="settingsModal" role="dialog" style="display:none">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                      <p>Select theme for the editor</p>
                      <div class="dropdown">
                            <p>Select a theme: <select onchange="selectTheme()" id=select>
                                <option selected>default</option>
                                <option>ambiance</option>
                                <option>darcula</option>
                                <option>elegant</option>
                                <option>material</option>
                                <option>rubyblue</option>
                            </select></p>
                      </div>
                      <p><b>Update Password</b></p>
                      <p>
                        <div for="OldPassword">Current Password</div>
                        <input type="password" placeholder="Enter Password" name="password" required>
                      </p><p>
                        <div for="NewPassword">New Password</div>
                        <input type="password" placeholder="Enter Password" name="password" required>
                      </p><p>
                        <div for="NewPasswordCheck">Re-enter New Password</div>
                        <input type="password" placeholder="Enter Password" name="password" required>
                      </p><p>
                        <button type= "button">Update Password</button>
                      </p>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                     </div>

                  </div>
                </div>
              </div>





                <!-- login Modal -->
                <div class="modal fade" id="loginModal" role="dialog" style="display:none">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title">Login</h4>
                            </div>
                            <div class="modal-body">
                                <p>Please enter login credentials</p>
                                <div class="container">
                                      <form method ="GET" id="login-form">
                                          {%  csrf_token %}
                                    <label for="UserName"><b>Username</b></label>
                                    <input id='un' type="username" placeholder="Enter Username" name="userName" required>
                                    <p></p>
                                    <label for="Password"><b>Password</b></label>
                                    <input id='pw' type="password" placeholder="Enter Password" name="password" required>
                                    <p></p>
                                    <label>
                                        <input type="checkbox" checked="checked" name="remember"> Remember me
                                    </label>
                                    <p></p>
                                    <button type="submit" >Login</button>
                            </form>
                                </div>
                                <div class="modal-footer">

                                    <button type="button"  class="cancelbtn" data-dismiss="modal">Cancel</button>
                                    <span class="psw" id="forgot">Forgot <a href="#">password?</a></span>
				                            <span class="sgnUp"> Or create <a href="#">an account</a></span>

                                </div>

                             </div>
                          </div>
                        </div>
                      </div>

            <!-- Sign Up Modal -->
            <div class="modal fade" id="signUpModal" role="dialog" style="display:none">
                <div class="modal-dialog">
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Sign Up</h4>
                    </div>
                    <div class="modal-body">
                        <p>Welcome to the Trynkit Community</p>
                        <div class="container">
                            <form method ="POST" id="post-form">
                                {% csrf_token %}
                            <label for="UserName"><b>Username</b></label>
                            <input id = "usNm" type="username" placeholder="Enter Username" name="username" required>
                            <p></p>
                            <label for="Password"><b>Password</b></label>
                            <input id = "pswd" type="password" placeholder="Enter Password" name="password" required>
                            <p></p>
                            <label for="PasswordCheck"><b>Re-enter Password</b></label>
                            <input id = "pswdChk" type="password" placeholder="Re-enter Password" name="passwordCheck" required>
                            <p></p>
                            <label for="Email"><b>Email</b></label>
                            <input id = "email" type="email" placeholder="Email" name="email" required>
                            <p></p>
                            <button id="signmeup">Sign Up</button>
                            </form>
                        </div>
                     </div>
                  </div>
                </div>
              </div>

         <!-- Help Modal -->
                <div class="modal fade" id="helpModal" role="dialog" style="display:none">
                  <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Help</h4>
                      </div>
                      <div class="modal-body">
                        <p><strong>Getting Started</strong></p>
                        <p>This page can provide you with any relevant information regarding the use of your Trynkit device and our editor.</p>
                        <p><strong>Device Management</strong></p>
                        <p> The device can be connected through bluetooth.You must pair your device before uploading any code to your device.</p>
                        <p><strong>Managing My Account</strong></p>
                        <p>Account seetings and password changes can be completed in the setting section. This can be found under the settings tab on the main menu.</p>
                        <p><strong>Questions and Answers</strong></p>
                        <div>
                            <li>How to I connect to my device?</li>
                              <p>Select the bluetooth button to pair your device with the editor.</p>
                            <li>How do I change my password?</li>
                              <p> Select the "Settings" tab on the main menu and fill in the necessary information the selet "Update Password".</p>
                            <li>How do I save my files?</li>
                              <p>Select the "Save" icon on the main menu.</p>
                        </div>
                       </div>

                    </div>
                  </div>
                </div>
    </body>
 <script>

     /* This is a variable we can use for login, once logged in save username there, null if logged out */
     var login = null;

        /*
         * This function gets the data input in the use creation form
         * then POSTs it to the database, on success it hides the modal
         * TODO on success send email to user
         */
        $(document).on('submit', '#post-form', function (e) {
            e.preventDefault();
            
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url "create_user" %}",
                data:{
                    username:$('#usNm').val(),
                    password:$('#pswd').val(),
                    email:$('#email').val(),
                    action: 'post'
                },
                success:function(result){
                    $('#signUpModal').modal('hide');
                    if(result.login == 'FalseE'){
                      alert("Sorry, that email already exists.");
                    } 
                    else if(result.login == 'FalseU'){
                      alert("Sorry, that username already exists.");
                    }
		    else {
                      alert("User added");
                    }

                },
                error: function(e){
                    console.log(e);
                },
            });

        });

        /*
         * This function gets the data from the login form and sends GET request
         * to the server for the views.py function to process
         * on success, set the var login to the username and alert user they are logged in
         * on fail alert them to try again
         */
        $(document).on('submit', '#login-form', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "{% url "create_user" %}",
                data:{
                    username:$('#un').val(),
                    password:$('#pw').val(),
                    action: 'get',
                },
                success:function(data){
                    if(data.login === "True"){
                        $('#loginModal').modal('hide');
                        alert("Login Successful!!!!");
                        login = $('#un').val();
                        console.log(login);
                    }else{
                        alert("Login Unsuccessful!!!! Please Try Again");
                    }
                },
                error: function(data){
                    console.log(data);
                },
            });


        });

	 
	 /*
         * This function gets the username and send an email for a password reminder
         */
	$('#forgot').click(function() {
          if($('#un').val().length==0) {
            alert("Please enter a username");
          } else{
            $.ajax({
                type: 'GET',
                dataType: 'json',
                url: "{% url "create_user" %}",
                data:{
                    username:$('#un').val(),
                    //password:$('#pw').val(),
                    action: 'forgot',
                },
                success:function(data){
                    if(data.login === "True"){
                        alert("Password has been sent to the user email");
                        console.log(login);
                    }else{
                        alert("User doesn't exist");
                    }
                },
                error: function(data){
                    console.log(data);
                },
            });
          }
          
        });

    </script>
    <script>
        document.getElementById('code').setAttribute('name', 'main.py');
        /**
         * signUp()
         * This function verifies the username is unique, verifies that
         * the password matches the re-entered password and adds the
         * new user credentials.
         */
        function signUp(){
            //verify the username is unique
            if(usernameIsUnique() == false){
              var SignUpVerification = confirm("Please try a different username.");
              return;
            }
            //verify password matches the re-entered password
            if(passwordMatches() == false){
              var SignUpVerification = confirm("Passwords do not match.");
              return;
            }
            //add user to the database

            var SignUpVerification = confirm("Sign Up Complete!");
        }

        /**
         * usernameIsUnique()
         * This function verifies that the username is unique by
         * ensuring it does not match any other usernames corresponding
         * to another user.
         */
         function usernameIsUnique(){
            //get username input
            var userNameInput = document.getElementById("usNm").value;
            //check username against usernames in the database

              //if username matches a username in database -> return false

              //else -> return true
         }
         /**
          * passwordMatches()
          * This function checks the two strings listed as password and
          * passwordCheck and verifies that they are the same string.
          * This serves as verification that the password was typed as
          * intended.
          */
          function passwordMatches(){
            var r1 = true;
            var r2 = false;
            //get password and passwordCheck stings provided by user
            var passwordInput = document.getElementById("pswd").value;
            var passwordCheckInput = document.getElementById("pswdChk").value;
            //password is the same string as password check -> return true
            var result = passwordInput.localeCompare(passwordCheckInput);
            //testing checks
            //var chk1 = confirm("string1 = " + passwordInput + " string2 = " + passwordCheckInput );
            //var chk = confirm("result = " + result );
            if(result == 0){
              return r1;
            }else {
              return r2;
            }
          }

        /**
         * newFile()
         * called by the create new file button
         * invokes the add-tab button click to create a new tab
         */
         function newFile() {
            $(".add-tab").click();
        }

        /**
         * debugToggle()
         * This function shows the debug console or if the console is shown
         * then hide the console.
         */
		function debugToggle() {
			var debugDiv = document.getElementById('debugger');
			debugDiv.style.display = debugDiv.style.display == "none" ? "block" : "none";
		}

		/**
         * consoleHide()
         * This function shows or hides the serial console based on its current state.
         */
        function consoleHide(){
            var x = document.getElementById('console');
            if (x.style.display ==="none"){
                x.style.display = "block";
            }else{
                x.style.display = "none";
            }
            /* once console is displayed try the device REPL */
           // bleConsole();
        }

		/**
         * Code Mirror
         * This initializes the code mirror editor.
         * It is set in the "code" text area.
         */
        var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {name: "python",
               version: 3,
               theme: "default",
               singleLineStringErrors: false},
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
        autofocus:true
        });

        /**
         * selectTheme()
         * This function is used to change the theme of the editor
         * When an option is selected in the settings dropdown menu
         * it changes the theme by what choice is selected.
         * @type {HTMLElement}
         */
        var input = document.getElementById("select");
        function selectTheme() {
            var theme = input.options[input.selectedIndex].textContent;
            editor.setOption("theme", theme);
            location.hash = "#" + theme;
          }
          var choice = (location.hash && location.hash.slice(1)) ||
                       (document.location.search &&
                        decodeURIComponent(document.location.search.slice(1)));
          if (choice) {
            input.value = choice;
            editor.setOption("theme", choice);
          }
          CodeMirror.on(window, "hashchange", function() {
            var theme = location.hash.slice(1);
            if (theme) { input.value = theme; selectTheme(); }
          });

        /**
         * This function is for the startup model to show only when the page loads
         * It also checks to see if there is any data in local storage to be loaded,
         * if it is there popluate the masterlist variable with file names and then
         * call populate list function to add tabs accordingly.
         */
        var masterList = ["main.py"]; /* array variable to store the tab names */
        $(window).on('load',function(){
            $('#loginModal').modal('show');
            try{
                masterList = localStorage.getItem("tabList").toString();
                masterList = masterList.split(",");
                populateTabs();
            }catch(error){
                console.error(error);
            }
	});
        /**
         * populateTabs()
         * This function populates the tabs with the tab names
         * with the list of filenames that was loaded from local storage.
         */
        function populateTabs(){
            for(i =1; i< masterList.length; i++){
						  $(".add-tab").closest('li').before('<li><a href="#tab_' + i + '" id="tab'+(i+1)+'">'+ masterList[i].toString()+'</a> <span> x </span></li>');
            }
        }

        /**
         * This is for the bootstrap toggeable tabs
         * has the ability add new tabs and close tabs
         */
        var currentTab = "main.py";  /* used to determine the previous tab */
        var tabList;

        /**
         * This function handles all of the logic when clicking on a tab
         * it also saves the previous tabs contents into local storage.
         */
         $(".nav-tabs").on("click", "a", function (e) {
            e.preventDefault();
             if (!$(this).hasClass('add-tab')) {
                 localStorage.setItem(currentTab, editor.getValue());
                 $(this).tab('show');
                 currentTab = this.innerText;
                 try {
                     editor.setValue(localStorage.getItem(currentTab).toString());
                 }catch(e){
                     console.error(e);
                 }
                }
            })
            .on("click", "span", function () { //this is to handle the remove button
                    /** this is to check the parent text for main.py */
                    var parentEl = $(this).parent().clone();
                    parentEl.children('span').remove();
                    var text = parentEl.text();
                    var result = text.includes('main.py');
                    console.log(result);

                    if(result){
                    }
                    else {
                        saveTabPrompt(currentTab, masterList);
                        //TODO remove the code in the editor
                        $(this).parent().remove(); //this removes the tab
                    }


        });
            /**
             * This function handles the logic for when you add a tab
             * by clicking the add tab button. It prompts user for a filename,
             * adds new tab with the filename. Saves it into local storage in masterlist variable,
             * and sets the tab to be the open tab.
             */
            $('.add-tab').click(function (e) {
                localStorage.setItem(currentTab, editor.getValue());
                var projectName = prompt("Creating a new file:", "NewProjectName.py");
                if(projectName){
			if (masterList.indexOf(projectName) == -1) {
				e.preventDefault();
                    		var id = $(".nav-tabs").children().length;
		    		$(this).closest('li').before('<li class="active"><a href="#tab_' + id + '" id="tab'+id+'">'+ projectName+'</a> <span> x </span></li>');
		    		currentTab = projectName;
                    		masterList.push(projectName);
                    		localStorage.setItem("tabList", masterList); /* add tab to the tab list */
                    		editor.setValue("");
                    		$('.nav-tabs li:nth-child(' + id + ') a').click();
                		}else{
                    			alert("File name already exists.");
                    			$(".add-tab").click();
                		}
			} else {
			//Do nothing
		}
        });
        /**
         * This function handles all of the logic when close all tabs button is clicked
         *
         */
        $('.remove-tabs').click(function(e) {
               if (confirm("Would you like to close and save all tabs?")) {
                    var navTabsLength = $(".nav-tabs").children().length;
                    var k = 0;
                    if (navTabsLength > 1 ) {
                        for (var i=0; i < navTabsLength +1; i++){

                            if ($(".nav-tabs").children().eq(i).hasClass('active')) {
                                downloadEditorContents(masterList[k]);
                                $(".nav-tabs").children().eq(i).remove();
                                i--;
                                k++;
                                tabList = null;
                            }
                        }
                    }
                }
            });
	    $('.rename-tab').click(function(e) {
	    var newTabName = prompt("Enter a new name for the current tab: ", ".py");
	    var selectedTab = sessionStorage.getItem('selectedTab');
	    window.sessionStorage.removeItem('selectedTab');
	    var oldTabName = document.getElementById(selectedTab).innerText;
	    localStorage.setItem('tabList',localStorage.getItem('tabList').replace(oldTabName, newTabName));
	    localStorage.setItem(newTabName, localStorage.getItem(oldTabName));
            window.localStorage.removeItem(oldTabName);
            oldTabName = null;
	    document.getElementById(selectedTab).innerText = newTabName;
	});
	$(document).click(function(event) {
		var text = $(event.target).text();
    	});

	//
	var rgtClickContextMenu = document.getElementById('div-context-menu');

	document.onclick = function(e){
	rgtClickContextMenu.style.display = 'none';
	}

	//**
        /* present the right click context menu ONLY for the elements having the right class
        /* by replacing the 0 or any digit after the "to-" string with the element id , which
        /* triggered the event
        /*/

	document.oncontextmenu = function(e){
	var elmnt = e.target
	if ( elmnt.toString().includes("tab")) {
		e.preventDefault();
		var selectedTab = elmnt.id;
		//var selectedTabIndex= elmnt.toString().replace('https://127.0.0.1:8000/#tab_', ' '); //keep uncommented for local testing/develpment
		//var selectedTabIndex = elmnt.toString().replace('https://www.asuser401group5.net:8000/#tab_', ' '); //uncomment for live
		sessionStorage.setItem("selectedTab", selectedTab);
                rgtClickContextMenu.style.left = e.pageX + 'px';
                rgtClickContextMenu.style.top = e.pageY + 'px';
                rgtClickContextMenu.style.display = 'block';
		}
	}

	/**
	* This function handles the logic for logging out the user
	*/

	function logout() {
		alert("User logged out");
		localStorage.clear();
		sessionStorage.clear();
		location.reload();
	}

    </script>

</html>

