{% load static %}
<!doctype html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8"/>
        <title>Trynkit: MicroPython</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />
        <script src="/static/js/loadFile.js" type="text/javascript"></script>
        <script src="/static/js/save.js" type="text/javascript"></script>
    </head>
    <div id="tabs">
    <script>
        var tabCount = 1;
        var currentTab = 'tab0';
    </script>
        <button id="tab0" onclick='switchTab0()'>Tab0</button>
        <button id="newTabBtn" onclick="newTab()">+</button>
        <script>
            function newTab() {
                var t = document.createElement('button');
                t.setAttribute('id', 'tab' + tabCount);
                document.getElementById('tabs').insertBefore(t, document.getElementById('newTabBtn'));
                t.innerText = 'Tab' + tabCount; //TODO set the name of the innertext to the file name for other user story
                tabCount++;
                sessionStorage.setItem(t.id, "");
                t.onclick = function() {
                    sessionStorage.setItem(currentTab, document.getElementById('editor').innerText);
                    currentTab = t.id;
                    document.getElementById('editor').innerText = sessionStorage.getItem(currentTab.toString());
                };
            }
            function switchTab0() {
                sessionStorage.setItem(currentTab, document.getElementById('editor').innerText);
                document.getElementById('editor').innerText = sessionStorage.getItem('tab0');
                currentTab = 'tab0';
            }
        </script>
    </div>
    <body>
        <div id="menu">
            <p>Menu</p>
            <button onclick="newFile()"><input type="image" id ="nd2" src="{% static '/images/nd2.png' %}" width="50" height="50"></button>
            <p></p>
            <button onclick=saveEditorContents()><input type="image" id ="nd2" src="{% static '/images/savefile.png' %}" width="50" height="50"></button>
            <p></p>
            <button id="loadFileBtn">
                <img src="{% static '/images/Load.png' %}" width="50" height="50">
            </button>
            <span id="spnFilePath"></span>
            <input type="file" id="file" style="display: none" />
            <script type="text/javascript">
                window.onload = loadFile();
            </script>
            <p></p>
            <button><input type="image" id ="load" src="{% static '/images/Device.png' %}" width="50" height="50"></button>
            <p></p>
            <button><input type="image" id ="load" src="{% static '/images/Settings.png' %}" width="50" height="50"></button>
        </div>
        <div id="editor" contenteditable="true" name="empty"></div>
    </body>
    <script src="/static/js/editor.js" type="text/javascript"></script>
    <script>
        function newFile() {
            var projectName = prompt("Creating a new project:", "NewProjectName.py");
            document.getElementById('editor').setAttribute('name', projectName);
        }
    </script>
    <script>
        config("purple", "orange", "red", "green"); //config function to set the colors of the highlighting
    </script> 
</html>
