{% load static %}
<!doctype html>
<html lang="en" class="no-js">
      <head>
          <meta charset="UTF-8"/>
          <title>Trynkit: MicroPython</title>
          {% load static %}
          <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}" />

      </head>

<body>
<div id="menu">
    <p>Menu</p>
    <img src="{% static 'SER401_Trynkit/images/nd2.png' %}">
    <p></p>
    <img src="{% static 'SER401_Trynkit/images/savefile.png' %}">
    <p></p>
    <button><input type="image" id ="load" src="{% static 'SER401_Trynkit/images/Load.png' %}" width="50" height="50"></button>
    <p></p>
    <img src="{% static 'SER401_Trynkit/images/Device.png' %}">
    <p></p>
    <img src="{% static 'SER401_Trynkit/images/settings.png' %}">
</div>
<div contenteditable="true" id="editor">
    This text can be edited by the user.
</div>
</body>





</html>
